body{
  background-color: mistyrose;
}
.in-style {
  border:none;
  background-color: whitesmoke;
  border-bottom: 2px solid grey;  

  width: 10em;
  height: 2em;
  cursor: pointer;
  margin-top: 10px;
}
label{
  margin-top:10px;
}

#type{
  width: 10.6em;
  height: 2.45em;

}
.btn-style {
  /* position: relative; */
  background-color: #d676e9;
  margin-top:20px;
  border: none;
  font-size: 20px;
  width:150px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  padding:10px;
  border-radius: 5px;
}
.btn-style:hover{
  background-color: rgb(234, 175, 236);
}

.results {
  text-align: center;
}
.form-style {
  display: flex;
  flex-direction: column;
  margin:10px;
  padding:10px;
}
.App {
  background-color: whitesmoke;
  width: 200px;
  height: 300px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  display: flex;
  justify-content: center;
}
.heading {
  text-align: center;
  font-size: 1.5em;
}
