.in-style{
  border:1px black solid;
  border-radius: 5%;
  background-color: aquamarine;
  width:10em;
  height:2em;
  cursor: pointer;
  margin-top:10px;
}
.btn-style{
  border:1px black solid;
  border-radius: 3%;
  background-color: rgb(155, 127, 255);
  width:10em;
  height:2em;
  cursor: pointer;
  margin-top:20px;
}
.results{
  text-align: center;
}
.form-style{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin:10px; */
}
.App{
  display:flex;
  justify-content: center;
  width:200px;
  height:250px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
  display:flex;
  justify-content: center;
}
.heading{
  text-align: center;
  font-size: 1.5em;
}